.wrap {
    display: flex;
    flex-wrap: wrap;

    .container {
        display: flex;

        .item {
            background-color: transparent;
            border: none;
            color: #808080;
            cursor: pointer;

            &:hover {
                background-color: rgba(128, 128, 128, 0.53);
            }
        }

        .wrapMainBtn {
            display: flex;
            gap: 20px;
        }
    }
}