.wrap {
    display: flex;

    .container {
        display: flex;

        .item {
            background-color: transparent;
            border: none;
            color: #808080;
        }

        .wrapMainBtn {
            display: flex;
            gap: 20px;
        }
    }
}