.mainSlider {
  color: black;
  background-color: beige;
  width: 300px;
  //height: 300px;
  //border: 1px solid #fff;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;


  h3 {
    padding: 0;
    margin-top: 50px;
  }

  .slideWrap {
    display: flex;
    gap: 10px;

    .slide {
      flex: 0 0 100%;
      opacity: 0.5;
      transition: all 0.6s ease-in;
      width: 100%;
      padding: 10px 15px;

      &.active {
        opacity: 1;
      }
    }
  }

}